<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/about.css">
</head>
<body>
    <div class="container">
        <h3 id="about-header">About blog-it-away!</h3>

        <section id="about-paragraph">
            <p>
                What started as a web development project turned into an incredible place where people can be able to post about things they want to speak about or get off their chests. The purpose of building this platform is to provide our users a place where they can express themselves freely, and truly enjoy being able to speak their minds.
            </p>
        </section>

        <section id="about-section">
            <p id="about-question">
                When was the blog platform created?
            </p>
            <p id="about-answer">
                The blog platform was created in summer 2025 and was created by one sole developer.
            </p>
        </section>

        <section id="about-section">
            <p id="about-question">What became the idea to start this?</p>
            <p id="about-answer">So, this was supposed to be a web development project that implemented things that I was learning about to better my odds into landing my key role but now, I focus it on becoming a platform for users to blog and post what they please.</p>
        </section>
    </div>
</body>
</html>

<%- include("partials/footer.ejs") %>