<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/blogs.css">
</head>
<body>
    <div class="container">
        <button id="add-post" type="submit">Add Post</button>
        <h1>Current Blogs</h1>
        
        <div id="blog-card"></div>
    </div>
</body>
</html>

<%- include("partials/footer.ejs") %>