<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/rules.css">
</head>
<body>
    <div class="container">
        <h3 id="rules-header">FAQs & Rules</h3>

        <p id="rules-desc">
            The most common questions of what this website will be found on this page. If there's any more questions or can't find the answers you are looking for, can reach out to admin@blog-it-away.com. 
            Please wait for a response within 24-48 hours.
        </p>

        <section id="questions">
            <div id="question-card">
            <p id="question">Who writes the content on this blog?</p>
            <p id="answer">Any user that has an account to the website. They would be able to create blog posts as well as be able to comment on others.</p>
        </section>

        <div id="question-card">
            <p id="question">How often are new blog posts published?</p>
            <p id="answer">They are published directly after submitting the post. It will include the details of the blog along with the person posting the blog.</p>
        </div>

        <section id="question-card">
            <p id="question">Can I subscribe to get notified of new posts?</p>
            <p id="answer">At the moment, there's no option to subscribe to receive updates or notifications but that would be an improvement that would be implemented in the newer versions.</p>
        </section>

        <section id="question-card">
            <p id="question">What topics are accepted for submissions?</p>
            <p id="answer">Currently, all topics are accepted except any inappropriate or vulgar topics that would upset the readers while exploring the blog website.</p>
        </section>

        <section id="question-card">
            <p id="question">Do I need an account to comment? To gain access?</p>
            <p id="answer">Yes, to be able to comment or to like the posts posted, an account would either need to be created or have to be logged in. By having an account, it will give full access to the website within the parameters of the profile.</p>
        </section>

        <section id="question-card">
            <p id="question">What can I do with a profile?</p>
            <p id="answer">With your profile, you will be able to view all your recent posts, the posts you liked and commented on, and as well as view all others posts and who posted them. There will be more features added to it that will implement many more features to improve interactivity.</p>
        </section>

        <section id="question-card">
            <p id="question">Can I share your articles on social media? Are your images and content copyrighted?</p>
            <p id="answer">At the moment, the posts created onto this website will be protected from any copyright infrigement or allow any publishing of the posts. If the account user decides to post the profile, they need to email the admin of the website and confirm that it is the user, to provide permission. This will keep the promise of being a secure location to be creative.</p>
        </section>

        <section id="question-card">
            <p id="question">Will there be any improvements to improve the overall experience of the website?</p>
            <p id="answer">Yes, we will be incorporating new features to the website such as filtering the blog posts based on the topic, being to add images and videos to accompany the blog post, and many more. <br>
                We will also love to reach out to our users and know what more they would like to see on this website, to bring them a better experience. Any ideas or thoughts, please reach out to admin@blog-it-away.com and we will be taking all suggestions and do our best to incorporate it.
            </p>
        </section>
    </div>
</body>
</html>

<%- include("partials/footer.ejs") %>